header
    div
        nav 
            ul 
                li 
                    a(href="/") Home 
                li 
                    a(href="/search") Search 
                li 
                    a(href="/videos/upload") Upload Video 
                li 
                    a(href="/users/logout") Log output 
                li 
                    a(href=`/users/id`) Your profile
                li 
                    a(href="/users/login") Log in
                li 
                    a(href="/users/join") Join now
        h1=pageTitle
    