header
    div
        nav 
            ul 
                li 
                    a(href="/") Home 
                li 
                    a(href="/search") Search 
                if loggedIn
                    li 
                        a(href="/videos/upload") Upload Video 
                    li 
                        a(href="/users/logout") Log out
                    li 
                        a(href=`/users/id`) Your profile
                else
                    li 
                        a(href="/users/login") Log in
                    li 
                        a(href="/users/join") Join now
        h1=pageTitle
    