extends ../template/layout.pug

block content 
    if error
        h4=error
    form(method="POST")
        input(name="email" placeholder="email" type="email" required)
        input(name="password" placeholder="password" type="password" required)
        input(type="submit" value="login now!")
    include ../partials/social-login
    div.auth-switch
        span you don't have account? 
        a(href="/users/login") join now! &rarr; 