extends ../template/layout.pug
include ../mixins/videos.pug

block content 
    div.profile__data
        if target.avatarUrl && target.isO_Auth_profile
            img(src=target.avatarUrl).avatar
        if target.avatarUrl && !target.isO_Auth_profile
            if isHeroku
                img(src= target.avatarUrl).avatar
            else 
                img(src= "/" + target.avatarUrl).avatar
        if !target.avatarUrl
            div 
                span.default__avatar No avatar
        div.profile__name
            span username : #{target.name}
        if user
            if String(target._id) === String(user._id)
                div.profile__btn__div
                    a(href=`/users/${target.id}/profile/edit`).profile__btn
                        i.fas.fa-eye-dropper
                        | Edit Profile &rarr;
    div.video-grid
        each video in target.videos
            +video(video)
        else
            span.empty__message No videos found